/*constantes de diseño*/
:root {
    --colorfooter:#f3ae47;
    --fuente: 'Oswald', sans-serif;
}

body{
    overflow-x: hidden;/*oculta la barra horizontal*/
}
.logo {
    width: 165px;
    height: 140px;

}

.menu {
    background-color: #FAB327 !important;

}

.alto {
    height: 650px;
}

/*imagenes para la carta*/

.card-img-top{
    width: 100% ;
    height:300% ;
}